*{
    margin: 0px;
    padding: 0px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
body{
    background-color: red;
}
div{
    padding: 10px;
}
.contenedor{
    width: 1000px;
    height: 800px;
    margin: auto;
    text-align: justify;
}
h2, .titulo_origen{
    text-align: center; 
}
b, p{
    color:white;
}
img{
    display:block;
    margin:auto;
}
.contenido_historia{
    background-color: #ff637d;
}
.formulario{
    width: 300px;
    height: 300px;
    background-color: palevioletred;
    margin: auto;
    text-align: center;
}
form input{
    margin-top: 10px;
    padding: 6px;
    margin-left: 40px;
}